<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponentVue from "./components/CalComponent.vue";
import HelloWorldExample from "./components/HelloWorldExample.vue";
import HandilingUserInput from "./components/HandilngUserInput.vue";
import AttributeBindings from "./components/AttributeBindings.vue";
import ConditionalsAndLoopsVue from "./components/ConditionalsAndLoops.vue";
import FormBindingsVue from "./components/FormBindings.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponent />
    <br/>
    <br/>
    <FormBindingsVue />
    <br/>
    <br/>
    <ConditionalsAndLoopsVue />
    <br/>
    <br/>
    <AttributeBindings />
    <HandilingUserInput />
    <CalComponentVue />
    <HelloWorldExample />
  </div>
</template>

<style scoped>
  
</style>
